html,
body,
#root {
    width: 100%;
    height: 100%;
}

#root {
    display : flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
}

.results {
    display: flex;
    flex-direction: column;
    background-color: hsl(234, 85%, 45%);
}
